@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Inter";
}

body {
  font: 16px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(243, 243, 243);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #314536;
  color: white;
  padding: 20px 10px;
}

.navbar-logo {
  margin-right: 10px;
}

.navbar-logo img {
  filter: brightness(400%);
  height: 35px;
  position: fixed;
  left: 25px;
  top: 20px;
}

.project-asana {
  position: fixed;
  left: 60px;
  top: 0;
  padding-bottom: 60px;
  font-weight: bold;
  font-size: 16px;
}

.administration {
  position: fixed;
  left: 60px;
  top: 13px;
  padding-top: 13px;
  font-size: 13px;
}

/* Search field */
form.search input[type="text"] {
  padding: 10px;
  font-size: 13px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #ffffff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* Submit button style */
form.search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #4e7057;
  color: white;
  font-size: 13px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search-bar {
  width: 25%;
}

.search-bar {
  position: absolute;
  left: 250px;
}

form.example button:hover {
  background: #314536;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

.logout-btn {
  font-size: 13px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.logout-btn i {
  margin-right: 10px;
}

.logout-btn:hover {
  background-color: #ccc;
}

.sidebar {
  position: fixed;
  width: 200px;
  height: 200vh;
  background-color: #4e7057;
  padding: 20px 0 0 0;
  font-weight: bold;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  margin: 0;
  padding: 0;
}

.sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px 0px 20px 30px;
}

.sidebar li:hover {
  background-color: #314536;
  border: solid white 1px;
}

.users {
  padding: 0px;
  background-color: #314536;
  border: solid white 1px;
}

.sidebar i {
  padding-right: 30px;
  font-size: 25px;
}

.center-nav {
  margin: 30px 230px;
  width: 80%;
}

.all button {
  border-bottom: solid #314536 5px;
}

.selected-all {
  display: flex;
  align-items: center;
}

.selected-all p {
  color: #314536;
  font-weight: bold;
}

.selected-all button {
  margin-left: 50px;
  background-color: #314536;
  color: white;
  padding: 5px 20px;
  border-radius: 10px;
}

.total-users p {
  position: absolute;
  right: 20px;
  top: 135px;
  color: #314536;
  font-weight: bold;
}

.data-table {
  width: 100%;
  overflow-x: auto;
}

.data-table th,
td {
  border: 1px solid rgb(234, 231, 231);
  padding: 5px 30px;
  white-space: nowrap;
  text-align: center;
}

.data-table th {
  font-size: 1.15rem;
  color: #bac3bc;
}

.data-table table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 20px;
}

.edit-btn {
  font-size: 1rem;
  background-color: #0026ae;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  border: none;
}

.accept-btn {
  font-size: 1rem;
  background-color: #314437;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  border: none;
}

.delete-btn {
  font-size: 1rem;
  background-color: #aa1515;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  border: none;
}

.data-table button {
  margin: 0px 5px;
}

.user-selection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  width: 100%;
  color: #758b7c;
}

.review {
  justify-self: end;
  align-self: center;
}

.review-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #758b7c;
  margin: 0;
}

.review-total {
  font-weight: 600;
  font-size: 2.5rem;
  color: #314437;
  margin: 0;
  text-align: right;
}

.bottom-pagination {
  display: grid;
  justify-content: end;
  margin-top: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination a {
  color: #314437;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  font-weight: 600;
}

.pagination-title {
  color: #314437;
}

.pagination .highlight {
  background-color: #e0e0e0;
  color: #314437;
  font-weight: 600;
}
