body {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    background-image: url('Ellipse\ Owner\ &\ Buyer.svg');
    background-size: cover;
    background-position: center;
    font-weight: bold;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background: url('d4e1d8.png');
    background: rgba(224, 222, 222, 0.7);
    padding: 80px 50px;
    border-radius: 8px;
    box-shadow: 0 3px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 400px; /* Adjust width of the form */
}

.input-group {
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.input-group input {
    width: 55%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: rgba(241, 241, 241, 0.9);
    box-sizing: border-box;
}

.input-group input:focus {
    outline: none;
    border-color: transparent;
}

button {
    margin-top: 20px;
    width: 175px;
    padding: 10px;
    background-color: #314437;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .login-form {
        width: 400px;
    }
}

h2 {
    font-size: 30px;
    padding-bottom: 50px;
    color: #314437;
    text-shadow: white 0.2em 0.2em 0.2em;
}

.reminder {
    font-size: 15px;
    padding-bottom: 15px;
    text-shadow: white 0.1em 0.1em 0.2em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}
